<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Xác nhận đăng ký tài khoản</title>
	</head>
	<body>
		<p>Xin chào {0},</p>
		<p>Chúng tôi đã nhận được yêu cầu đăng ký tài khoản của bạn.</p>
		<p>
			Vui lòng nhấn vào đường link bên dưới để xác nhận đăng ký tài khoản.
		</p>
		<p><a href="{1}">{2}</a><br /></p>
		<p style="color: red">Thời hạn xác thực trong vòng 24 giờ!!!</p>
		<p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>
	</body>
</html>
